# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Mymodels\TARGCN_wujing\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
